/* CSS File For IMP */
/* Header */
/* Social Media Link Nav Bar */
#social-media-nav {
overflow: hidden;
border-bottom: 4px; 
max-width: 100%;
}

#social-media-nav li {
border: 5px;
background-color: white;
display: inline-block;
text-align: center;
text-decoration:none;
line-height: 26pt;
float: right; 
}

#social-media-nav input[type=text] {
font-family: 'Courier New', Courier, monospace;
float: left;
padding: 4px;
border: none;
font-size: 1vw;
}

/* Brand Logo Area */
header {
background-color: white;
max-width: 100%;
padding: 10px;
}

header .headerlogo h1 {
font-family: 'Pacifico', cursive;
font-size: 2.5vw;
text-align: center; 
color: #F23005;
padding-bottom: 20px;
}

.headerlogo {
padding-top: 8px;
margin-left: auto;
margin-right: auto;
width: 50%;} 

/* Nav bar */
.menu-3{
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
list-style: none;
font-family: 'Courier New', Courier, monospace;
font-size: 1vw;
}

.menu-3 li {
width: 105px;
height: 50px;
transition: background-position-x 0.6s linear;
text-align: center;
}
.menu-3 li a {
color: #212121;
text-decoration: none;
text-transform: uppercase;
transition: all 0.45s;
}
.menu-3 li:hover {
background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
-webkit-animation: line 1s;
animation: line 1s;
}
.menu-3 li:hover a {
color: #d94f5c;
}
.menu-3 li:not(:last-child) {
margin-right: 30px;
}

@-webkit-keyframes line {
0% {
background-position-x: 390px;
}
}

@keyframes line {
0% {
background-position-x: 390px;
}
}

/* Main Body */
/*Section 1: Introduction Hero Image */
#introduction  {
text-align: center;
max-width: 100%;
position: relative;
}

#introduction img {
max-width: 100%;
padding: 8px;
box-shadow: 0 10px 17px -5px #000000;
margin-bottom: 5px;
opacity: 0.8;
text-align: center;
align-items: center;
display: block;
}

#introduction figcaption {
position: absolute;
bottom: 40%;
right: 30px;
width: 50%;
color: black;
background:white;
text-align: right;
padding: 4px;
font-family: 'Courier New', Courier, monospace;
opacity:0.8;
}
#introduction figcaption h2 {
font-size: 1.5vw;
} 

#introduction figcaption p {
font-size: 1vw;
}


/* Button to link to middle of page. */
#buttons{
width: 80vw;
margin: auto;
text-align: center;
}

.button1 {
border: none;
color: white;
padding: 13px 50px;
text-align: center;
text-decoration: none;
font-size: 1vw;
margin: 50px 20px;
transition-duration: 0.4s;
cursor: pointer;
border-radius: 7%;
position: absolute;
bottom: -45px;
left: 50%;
transform: translate(-50%, -50%);
}

.button1 {
background-color: white; 
color: black; 
border: 2px solid #F23005;
}

.button1 a { 
text-decoration: none; 
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
font-size: 1vw;
color: #000000;
}

.button1 a:hover { 
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
font-size: 1vw;
color: white;
text-decoration: none; 
}

.button1:hover {
background-color: #F23005;
color: white;  }



/* Section 2: Explore the UK */
/* Overall container */

#ExploretheUK {
height: 900px;
padding-top: 20px;
padding-left: 20px;
padding-right:20px;
background-color: #E9E9E9;}

#ExploretheUK h1 {
font-family: 'Pacifico', cursive;
font-size: 2vw;
text-align: center; 
color: #F23005;
padding-bottom: 10px}


#ExploretheUK h2 {
font-family: 'Courier New', Courier, monospace;
font-size: 1.5vw;
font-weight: bolder;
text-align: center;
color: #000000;
padding-bottom: 30px;
}

/* The interactive map */
#ExploretheUK .interactivemap {
background-color: white;
width: 60%;
float:left;
margin-left: auto;
margin-right: auto;
height: 700px;
text-align: center;
}

.interactivemap p {
font-family: 'Courier New', Courier, monospace;
font-size: 1vw;
text-align: center;
padding-bottom: 40;}

.interactivemap h1 {
font-family: 'Courier New', Courier, monospace !important;
color:#000000 !important;
font-size: 1.5vw !important;
font-weight: bolder;
text-align: center;
}

#interactivemap iframe{
background-color: white;
display: flex;
vertical-align: center;
float: left;
text-align: center;
}


/* Slideshow bar */
#ExploretheUK .latestfeed {
font-family: 'Courier New', Courier, monospace; 
margin:0;
border-style: dashed;
border-width: thin;
border-color: #212121;
border-radius: 25px;
float:right;
height: 700px;
width: 35%}

#ExploretheUK .latestfeed h1 {
font-family: 'Courier New', Courier, monospace !important;
color:#000000 !important;
font-size: 1.5vw !important;
font-weight: bolder;
text-align: center;
}

#ExploretheUK .latestfeed h2 {
font-family: 'Courier New', Courier, monospace;
font-size: 1vw;
font-weight:bold;
text-align: center;}

#ExploretheUK .latestfeed p {
font-family: 'Courier New', Courier, monospace;
font-size: 1vw;
text-align: center;
padding-bottom: 50;
margin-left: 10px;
margin-right: 10px;}


#ExploretheUK .latestfeed .slider {
font-family: 'Courier New', Courier, monospace; 
margin-left: auto;
margin-right: auto;
position: relative;
width: 100%;
overflow: hidden;
text-align: center;
float: right;
margin: 5px;
}

#ExploretheUK .latestfeed .slider .images {
display: flex;
width: 100%;
margin: 5px;
}

#ExploretheUK .latestfeed .slider .images img {
height: 300px;
width: 100%;
transition: all 0.15s ease; }

#ExploretheUK .latestfeed .slider .images input {
display: none;
}

#ExploretheUK .latestfeed .slider .dots {
display: flex;
justify-content: center;
margin: 5px;
}

#ExploretheUK .latestfeed .slider .dots label {
height: 20px;
width: 20px;
border-radius: 50%;
border: solid white 3px;
cursor: pointer;
transition: all 0.85 ease;
margin: 5px;
}

#ExploretheUK .latestfeed .slider .dots label:hover{
background: white;}

#img1:checked ~ .m1 {
margin-left: 0;
}

#img2:checked ~ .m2 {
margin-left: -100%;
}

#img3:checked ~ .m3 {
margin-left: -200%;
}

#img4:checked ~ .m4 {
margin-left: -300%;
}

#ExploretheUK .latestfeed .slider .maja {
background-color: white;
opacity: 0.8;
width: 80%;
text-align: center;
height: auto;
} 

#ExploretheUK .latestfeed .slider .maja p {
font-size: 12px;
text-align: center;
} 
#ExploretheUK .latestfeed .slider .maja h1 {
font-size: 18px;
text-align: center;

} 

#buttons{
width: 80vw;
margin: auto;
text-align: center;
}

.button2 {
border: none;
color: white;
padding: 13px 50px;
text-align: center;
text-decoration: none;
font-size: 16px;
margin: 50px 20px;
transition-duration: 0.4s;
cursor: pointer;
border-radius: 7%;
position: inherit;
bottom: 0px;
float:center;
}

.button2 {
background-color: white; 
color: black; 
border: 2px solid #F23005;
}

.button2 a { 
text-decoration: none; 
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
font-size: 12px;
color: #000000;
}

.button2 a:hover { 
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
font-size: 12px;
color: white;
text-decoration: none; 
}

.button2:hover {
background-color: #F23005;
color: white;  }


/* Section 3: Customer engagement/subscription */


#CustomerUploads {
height: 500px;
max-width: 100%;
font-family: 'Courier New', Courier, monospace;
background-color: #E9E9E9;
padding-left: 10px;
}

#CustomerUploads h1 {
font-family: 'pacifico';
color:black;    
font-size: 1.5vw;
text-align: center;
padding-bottom: 8px;
}

#CustomerUploads h3 {
font-size: 1.25vw;
text-align: center;
}
#CustomerUploads h2 {
font-size: 1.25vw;
text-align: left;
font-weight:bold ;
}
#CustomerUploads p {
font-size: 1vw;
}


#CustomerUploads {
height: 500px;
border: dotted;
border-width: thin;
max-width: 100%;
padding-top: 8px;


}
#CustomerUploads .ContentCreatorInspo img {
float: left;
height: 300px;
width: 11%;
margin: 4px;
}

#CustomerUploads .getinvolved {
float: right;
margin: 10px;
width: 35%;
height: 300px;
border: dotted;
border-color: #d94f5c;
align-items: center;
box-shadow: 0 10px 17px -5px #000000;
background-color: #d94f5c;
border-radius: 25px;
}

#CustomerUploads .getinvolved form { 
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
margin-top: 20px
}


input[type=submit] {
text-align: center;
padding-top: 10px;   
margin top: 10px; 
background-color: black;
font-family: 'Courier New', Courier, monospace;
border: none;
color: white;
padding: 16px 32px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
border-radius: 25px;
}

input [type=submit]:hover {
background-color: #F23005;
border-color: black;
}
input [type=submit] a:hover {
color: white;
}

.getinvolved a {
text-decoration:none;
font-weight: bold;
color:#000000
}

.getinvolved a:hover {
text-decoration:none;
color:white

}

/* CSS for footer. */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400&family=Poppins:wght@100;300;400;500;600&family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
line-height: 1.5;
font-family: 'Courier New', Courier, monospace;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.container{
max-width: 1170px;
margin: auto;
}
.row{
display: flex;
flex-wrap: wrap;
}
ul{
list-style: none;
}
.footer{
background-color: white;
padding: 70px 0;
border: dotted;
border-width: thin;

}
.footer-col{
width: 25%;
padding: 0 15px;
}
.footer-col h4{
font-size: 18px;
color: black;
text-transform: capitalize !important;
margin-bottom: 30px;
font-weight: 500;
position: relative;
}
.footer-col h4::before{
content: '';
position: absolute;
left: 0;
bottom: -10px;
background-color: #F23005;
height: 2px;
box-sizing: border-box;
width: 50px;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: black;
text-decoration: none;
font-weight: 300;
color: #bbbbbb;
display: block;
transition: all 0.3s ease;
}
.footer-col ul li a:hover{
color: #F23005;
padding-left: 8px;
}
.footer-col .social-links a{
display: inline-block;
float: left;
height: 40px;
width: 40px;
background-color: rgba(255, 255, 255, 0.2);
margin: 0 5px 5px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: black;
transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
border-color: #24262b;
border: dotted;
border-width: medium;
opacity: 0.9;
}

/*responsive*/
@media(max-width: 991px){
.footer-col{
width: 50%;
margin-bottom: 30px;
}
}
@media(max-width: 768px){
.footer-col{
width: 100%;
}
}



